header {
    font-size: 32px;
    text-decoration: underline;
}
.weather-data{
    background-color: lightblue;
    text-align: center;
    padding: 20px;
    margin: auto;
    display: flex;
    width: 100px;
    flex-direction: column;
}
.weather{
    width: 100%;
    display: flex;
    margin: auto;
    
}